body
{
    background-color: #edeef0;
    margin: 0%;
}
ul.menu
{
  padding: 0;
  margin: 0;
  border: 0;
  list-style: none ;
  background-color: #333;
  height: 50px;
}
ul.menu>li
{
  float: left;
  margin-right: 5px ;
  
}
ul.menu>li:hover
{
 background-color: red;
}
ul.menu>li a 
{
  display: inline-block;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  font-family: sans-serif;
  padding: 0 15px;
  line-height: 50px;
}
ul.menu>div.search-main
{
  display: flex;
  justify-content: right;
  align-items: center;
  padding-top: 5px;
  float: right;
  width: 40px;
  height: 40px;
  

  
}
ul.menu>div.search-main>input.tbox-search
{
  
  float: left;
  background: none;
  border:none;
  outline: none;
  font-size: 16px;
  width: 0;
  transition: 1s;
}
ul.menu>div.search-main>a.btn-search
{
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  font-size: 16px;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 40px;
}
ul.menu>div.search-main:hover > .tbox-search
{
width: 100px;
background-color: whitesmoke;
}
.homework h1{
    
    border-style: solid;
    border-color: red;
    
    border-radius: 10px;
    font-size: 70px;
    font-weight: bold;
    width: 700px;
    text-align: center;
}
.code{Width:700px;
    height: 885px; 
    padding:3px;
    padding-bottom:3px;
    Border-style:solid;
    Border-color:red;
    Border-width:5px;
    Border-radius:10px;

}
.code{background-color: pink;
    opacity: .7;
    }